<div class="swagger-ui-wrap">
    <div class="container">
        <h1>Shopshops-hub API Docs</h1>
        <ul>
          <li><strong>Production Base URL: </strong><%= ENV['PRODUCTION_URL'] %></li>
        </ul>
    </div>
</div>

<%= render 'swagger_ui/swagger_ui', discovery_url: "api-docs.json" %>
