<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
      ShopifyApp.init({
          apiKey: "<%= @api_key %>",
          shopOrigin: "https://<%= @shop %>"
      });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Welcome, shopify-er! Yoyo, check it out!</h1>
</body>
</html>
